<!--Header Navbar-->
<nav>
    <div class="nav-wrapper blue-color">
        <div class="col s1">
            <a href="#/user/{{model.userId}}/website" class="brand-logo left"><i class="fa fa-chevron-left icon-pad" aria-hidden="true"></i></a>
        </div>
        <div class="col s3">
            <a href="" class="brand-logo">Edit Website</a>
        </div>

        <a ng-click="model.editWebsite(model.website.name, model.website.description)" class="brand-logo right"><i class="fa fa-check icon-pad" aria-hidden="true"></i></a>
    </div>
</nav>
<!--End of Header Navbar-->
<!--Register Form-->
<div class="row">
    <div class="col m4 hide-on-small-only">
        <div class="card">
            <div class="card-content flow-text inline-block-display">
                <div ng-repeat="website in model.websites">
                    <div class="col m10">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                    </div>
                    <div class="col m2">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}" class="right"><i class="fa fa-cog" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col s12 m8">
        <div class="card">
            <div class="card-content">
                <div class="input-field col s12" style="display: block">
                    <label for="website-name" class="position-static">Name</label>
                    <input id="website-name" ng-model="model.website.name" type="text" class="validate">

                </div>
                <div class="input-field col s12">
                    <label for="website-description" class="position-static">Description</label>
                    <textarea id="website-description" ng-model="model.website.description" style="display: block" class="materialize-textarea"></textarea>

                </div>
                <a class="waves-effect waves-light btn red" style="display: block;" ng-click="model.deleteWebsite()">Delete</a>
            </div>
        </div>
    </div>
</div>
<!--End of Register Form-->

<!--Footer Navbar-->
<div class="row">
    <nav class="navbar blue-color footer page-footer">
        <div class="container">
            <a href="#/user/{{model.userId}}" class="brand-logo right"><i class="fa fa-user" aria-hidden="true"></i></a>
        </div>
    </nav>
</div>
<!--End of Footer Navbar-->