
/*div.nav-wrapper {*/
    /*background-color: #0288D1;*/
/*}*/

/*nav.navbar {*/
    /*background-color: #0288D1;*/
/*}*/

.blue-color {
    background-color: #428BCA !important;
}

.red {
    background-color: #D32F2F !important;
}

.green {
    background-color: #388E3C !important;
}

.grey-color {
    background-color: #F8F8F8 !important;
}

.black-color {
    color: #333333 !important;
}

.display_block {
    display: block; !important;
}

.profile-blue {
    color: #428BCA !important;
}

.grey-heading {
    color: #777777 !important;
}

.inline-block-display {
    display: inline-block !important;
}
.text-pad-left {
    padding-left: 5% !important;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    z-index: 10;
}

label.position-static {
    position: static; !important;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.initial-display {
    display: initial;
}

.zero-right-pad {
    padding-right: 0;
}

.image-fit {
    width: 100%;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.list-child {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: white;
}

.hidden-item{
    display: none;
}

.list-parent{
    position: relative;
}

.second-icon {
    margin-left: -30%;
}

.float-none {
    float: none;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0288D1;
    box-shadow: 0 1px 0 0 #0288D1;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #0288D1;
}

@media only screen and (max-width: 600px){
    .icon-pad {
        padding-top: 10px !important;
    }
}

@media only screen and (min-width: 993px) {
    nav .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    nav .brand-logo.right {
        right: 0.5rem;
        left: auto;
    }
    nav .brand-logo.left {
        left: 2.5rem;
    }
}

