<!--Header Navbar-->
<nav>
    <div class="nav-wrapper blue-color">
        <a href="" class="brand-logo left text-pad-left">Profile</a>
        <a onclick="Materialize.toast('Changes Saved', 1000,'')"
           ng-click= "model.ChangeUserData(model.user.firstName, model.user.lastName, model.user.username)" class="brand-logo right"><i class="fa fa-check icon-pad" aria-hidden="true"></i></a>
    </div>
</nav>
<!--End of Header Navbar-->

<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <div class="input-field col s12">
                    <label for="username" class="position-static">username</label>
                    <input id="username" ng-model="model.user.username" type="text" class="validate">
                </div>
                <div class="input-field col s12">
                    <label for="email" class="position-static">Email address</label>
                    <input id="email" type="email" class="validate" placeholder="alice@wonderland.com">
                </div>
                <div class="input-field col s12">
                    <label for="firstname" class="position-static">First Name</label>
                    <input id="firstname" ng-model="model.user.firstName" type="text" class="validate" placeholder="Alice">
                </div>
                <div class="input-field col s12">
                    <label for="lastname" class="position-static">Last Name</label>
                    <input id="lastname" ng-model="model.user.lastName" type="text" class="validate" placeholder="Wonderland">
                </div>
                <a class="waves-effect waves-light btn blue-color" style="display: block;" href="#/user/{{model.userId}}/website">Websites</a>
                <br>
                <a class="waves-effect waves-light btn red" style="display: block;" href="#/login">Logout</a>
            </div>
        </div>
    </div>
</div>

<!--Footer Navbar-->
<div class="row">
    <nav class="navbar blue-color footer">
    </nav>
</div>
<!--End of Footer Navbar-->
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>