<!--Header Navbar-->
<nav>
    <div class="nav-wrapper grey-color">
        <div class="col s1">
            <a href="widget-list.html" class="brand-logo left"><i class="fa fa-chevron-left icon-pad black-color" aria-hidden="true"></i></a>
        </div>
        <div class="col s3">
            <a href="" class="brand-logo grey-heading">Widget Edit</a>
        </div>

        <a href="widget-list.html" class="brand-logo right"><i class="fa fa-check icon-pad black-color" aria-hidden="true"></i></a>
    </div>
</nav>
<!--End of Header Navbar-->
<!--Register Form-->
<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <div class="input-field col s12 m12" style="display: block">
                    <input id="widget-name" type="text" class="validate">
                    <label for="widget-name">Name</label>
                </div>
                <div class="input-field col s12 m12">
                    <input id="widget-text" type="text" class="validate">
                    <label for="widget-text">Text</label>
                </div>
                <div class="input-field col s12 m12">
                    <input id="widget-url" type="url" class="validate">
                    <label for="widget-url">URL</label>
                </div>
                <div class="input-field col s12 m12">
                    <input id="widget-size" type="number" class="validate">
                    <label for="widget-size">Width</label>
                </div>
                <a class="waves-effect waves-light btn red" style="display: block;" href="widget-list.html">Delete</a>
            </div>
        </div>
    </div>
</div>
<!--End of Register Form-->

<!--Footer Navbar-->
<div class="row">
    <nav class="navbar grey-color footer page-footer">
        <div class="container">
            <a href="profile.html" class="brand-logo right"><i class="fa fa-user profile-blue" aria-hidden="true"></i></a>
        </div>
    </nav>
</div>
<!--End of Footer Navbar-->
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>