<!--Header Navbar-->
<nav>
    <div class="nav-wrapper grey-color">
        <div class="col s1">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="brand-logo left"><i class="fa fa-chevron-left icon-pad black-color" aria-hidden="true" ></i></a>
        </div>
        <div class="col s3">
            <a href="" class="brand-logo grey-heading">Widgets</a>
        </div>

        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="brand-logo right"><i class="fa fa-plus icon-pad black-color" aria-hidden="true"></i></a>
    </div>
</nav>
<!--End of Header Navbar-->
<!--Register Form-->
<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content flow-text">
                <div jgasortable class="col-sm-12 widget-edit-parent " >
                    <div ng-switch="widget.widgetType" ng-repeat="widget in model.widgets" class="list-parent">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}" class="right list-child">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                        <div ng-switch="widget.size" ng-switch-when="HEADER" class="zero-right-pad">
                            <h1 ng-switch-when="1">{{widget.text}}</h1>
                            <h2 ng-switch-when="2">{{widget.text}}</h2>
                            <h3 ng-switch-when="3">{{widget.text}}</h3>
                            <h4 ng-switch-when="4">{{widget.text}}</h4>
                            <h5 ng-switch-when="5">{{widget.text}}</h5>
                            <h6 ng-switch-when="6">{{widget.text}}</h6>
                        </div>
                        <div ng-switch-when="YOUTUBE" style="width: 100%" class="zero-right-pad">
                            <iframe width="100%" height="315"
                                    ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div ng-switch-when="IMAGE" class="zero-right-pad">
                            <img ng-src = "{{widget.url}}" style="width:95%;"/>
                        </div>
                        <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Register Form-->

<!--Footer Navbar-->
<div class="row">
    <nav class="navbar grey-color footer page-footer">
        <div class="nav-wrapper grey-color">
            <div class="col s1">
                <a href="" class="brand-logo left black-color"><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>
            <div class="col s3">
                <a href="" class="brand-logo second-icon black-color"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </div>

            <a href="#/user/{{model.userId}}" class="brand-logo right"><i class="fa fa-user profile-blue" aria-hidden="true"></i></a>
        </div>
    </nav>
</div>
<!--End of Footer Navbar-->
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>